# Introduction

This notebook explores different cost functions to mine union tripples from fuse.

In [131]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [132]:
import io
import tarfile
import pandas as pd
import numpy as np
from tqdm import tqdm

In [133]:
# Suppress warning for xlrd
import warnings
# Filter all warning that start with "WARNING"
warnings.filterwarnings('ignore')

In [134]:
# pass over all files and build summary
file = '/Users/dirkocoetsee/Downloads/fuse-binaries-dec2014.tar.gz'
# Get list of files in tar archive
tar = tarfile.open(file)

In [135]:
all_members = tar.getmembers()
len(all_members)

249377

In [136]:
# Load from disk
from scipy.sparse import load_npz
x = load_npz('data.npz')

In [137]:
from pickle import load
print('Loading')
with open('meta.pkl', 'rb') as f:
    vocab, words_member = load(f)
print('Adding')
words_member = [('cc-binaries/' + m, s) for m, s in words_member]
len(words_member), len(vocab)

Loading
Adding

(279699, 8591565)

In [143]:
topo = np.load('top20.npz')

In [146]:
top = topo['arr_0']
top.shape

(279699, 20)

In [147]:
top[:10, :20]

array([[110934, 110933, 110966, 110965, 110959, 110956, 110955, 110954,
        110953, 110952, 110951, 110948, 110943, 110938, 110937, 110976,
        110828, 110827, 110835, 110862],
       [ 98620,  98619,  98634,  98632,  98631,  98630,  98629,  98628,
         98625,  98624,  98621,  98636,  98609,  98610,  98604,  98607,
         98608,  98637,  98613,  98612],
       [  4609,   4608, 115752, 115753,   4611, 115761, 115762, 115764,
        115765, 115766, 115767,   4610, 115742,   4603,   4605, 115794,
          4602, 115790, 115739,   4604],
       [139907,  35899,  35916, 139876,  35915, 139888, 139889,  35913,
        139895, 139896,  35903,  35902,  35901,  35900, 139906, 139872,
        139908,  35889, 139929, 139927],
       [114623, 114626, 114605, 114606, 114608, 114609, 114615, 114617,
        114621, 114622, 114599, 114625, 114664, 114646, 114672, 114665,
        114595, 114651, 114645, 114636],
       [ 94183,  94177,  94195,  94193,  94192,  94191,  94189,  94188,
         94186,  94185,  94184,  94197,  94178,  94170,  94171,  94167,
         94168,  94169,  94198,  94175],
       [ 93854,  93852,  93866,  93865,  93864,  93861,  93859,  93858,
         93857,  93856,  93855,  93868,  93853,  93846,  93847,  93843,
         93844,  93845,  93870,  93850],
       [110724, 110726, 110714, 110715, 110716, 110717, 110718, 110719,
        110720, 110721, 110722, 110723, 110712, 110725, 110733, 110731,
        110736, 110735, 110734, 110711],
       [124092, 124099, 124062, 124063, 124065, 124067, 124076, 124080,
        124087, 124090, 124091, 124059, 124109, 124108, 124129, 124124,
        124122, 124049, 124102, 124103],
       [143842, 143844, 143818, 143823, 143824, 143825, 143830, 143831,
        143835, 143837, 143839, 143840, 143841, 143815, 143843, 143856,
        143859, 143852, 143858, 143850]], dtype=int32)

In [148]:
if isinstance(words_member[0], tarfile.TarInfo):
    index_name_map = {i: k for i, k in enumerate(words_member)}
else:
    # Map back to filenames
    index_name_mapn = {i: k for i, k in enumerate(words_member)}
    # Map back to members
    member_name_map = {member.name: member for member in all_members}
    index_name_map = {i: (member_name_map[filek], sheetk) for i, (filek, sheetk) in index_name_mapn.items()}

In [149]:
x_lil = x.tolil()
x_lil.shape

(279699, 8591565)

In [150]:
x_lil.data.shape, x_lil.rows.shape

((279699,), (279699,))

In [151]:
x_lil.rows[:1]

array([list([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884])],
      dtype=object)

In [152]:
x_set = [
    set(row)
    for row in x_lil.rows
]
len(x_set)

279699

In [153]:
topa = top
topa.shape

(279699, 20)

In [154]:
k = 20

In [155]:
scores = []
for i, xs in enumerate(tqdm(x_set)):
    for j in range(k):
        for jj in range(k):
            if jj >= j:
                continue
            j_ind = topa[i, j]
            jj_ind = topa[i, jj]
            sa1 = x_set[i] & x_set[j_ind]
            sa2 = x_set[i] & x_set[jj_ind]
            inter = (sa1 & sa2)
            intern = len(inter)
            sa1i = len(sa1 - inter)
            sa2i = len(sa2 - inter)
            denom1 = len(x_set[j_ind])
            denom2 = len(x_set[jj_ind])
            denom = len(x_set[i])
            scores.append((i, j_ind, jj_ind, sa1i, sa2i, intern, denom, denom1, denom2))

100%|██████████| 279699/279699 [02:29<00:00, 1875.04it/s]

In [156]:
ftripples = [(i, j, k,
              np.sqrt((sa1i / (denom + 100)) * (sa2i / (denom + 100))),  # Geometric mean of areas
              #np.sqrt((sa1i / (1)) * (sa2i / (1))),  # Geometric mean of nums
              #np.sqrt((sa1i / (1)) * (sa2i / (1))) / (denom + 10),  # Geometric mean of nums
              #(sa1i + sa2i + intern) / (denom + 10),                 # Percentage area
              sa1i, sa2i, intern, denom, denom1, denom2) for i ,j, k, sa1i, sa2i, intern, denom, denom1, denom2 in scores]
ftripples = sorted(ftripples, key=lambda x: x[3], reverse=True)
for i, j, k, score, *rest in ftripples[:20]:
    print(i, j, k, score, rest)

129896 252145 238757 0.23817812022131174 [115, 69, 79, 274, 199, 197]
98551 172408 270362 0.11230335926631886 [32, 35, 15, 198, 241, 328]
98551 275402 172408 0.11053469189262151 [35, 31, 16, 198, 330, 241]
98551 172408 116664 0.10894418174998609 [31, 34, 16, 198, 241, 331]
218328 218329 218327 0.10693342094862127 [194, 11, 30, 332, 308, 380]
22973 228256 6948 0.1018434332602961 [25, 19, 13, 114, 79, 642]
255238 255239 217921 0.09311405452352887 [54, 19, 16, 244, 85, 549]
22973 228258 6948 0.08767132261352205 [22, 16, 16, 114, 81, 642]
171270 235780 235783 0.08717797887081347 [76, 4, 4, 100, 100, 103]
171270 235780 171273 0.08717797887081347 [76, 4, 4, 100, 100, 103]
98551 172408 34101 0.08620961462191362 [44, 15, 3, 198, 241, 115]
98551 172408 6660 0.08620961462191362 [44, 15, 3, 198, 241, 115]
98551 172408 82662 0.08233452447238455 [43, 14, 4, 198, 241, 363]
22974 6948 228260 0.082105801434073 [8, 27, 9, 79, 642, 82]
234532 234531 80888 0.08051083442514924 [26, 9, 0, 90, 92, 2930]
22973 228256 15234 0.08039556324338903 [37, 8, 1, 114, 79, 268]
22973 6948 15234 0.0735888586356244 [31, 8, 1, 114, 642, 268]
98551 116664 227214 0.07298175560715285 [43, 11, 7, 198, 331, 179]
98551 172408 227214 0.07038985558188937 [40, 11, 7, 198, 241, 179]
98551 172408 65311 0.06958537366888497 [43, 10, 4, 198, 241, 212]

In [157]:
# Load and display
for if1, if2, if3, score, *als in ftripples[:4]:
    f1 = (index_name_map[if1])
    f2 = (index_name_map[if2])
    f3 = (index_name_map[if3])
    for i, (f, s) in enumerate([f1, f2, f3]):
        buffer = tar.extractfile(f)
        df = pd.read_excel(io.BytesIO(buffer.read()), sheet_name=s, header=None, index_col=None, nrows=10)
        print(f'File {i}:{s} ({score}): {f}  {als}')
        print()
        # Display as html
        display(df)
        print()

File 0:0 (0.23817812022131174): <TarInfo 'cc-binaries/34b4af4e-68c1-4031-ad20-1b056bed0bb5' at 0x1570eb1c0>  [115, 69, 79, 274, 199, 197]

,0,1,2,3,4
0,Код по НКПД 2011,Наименование по НКПД 2011,Код по НКПД 2005,Наименование по НКПД 2005,съвпадение
1,31547001,Авиодиспечер,31447001,Авиодиспечер,да
2,35223025,"Авиодиспечер, аеронавигационни съобщения",няма код,няма код,не
3,31543002,"Авиодиспечер, въздушно обслужване",31443002,"Авиодиспечер, въздушно обслужване",да
4,21446048,Авиоинженер,21496040,Авиоинженер,да
5,21126001,Авиометеоролог,21126001,Авиометеоролог,да
6,31553001,Авиомеханик,31453001,Авиомеханик,да
7,31553002,Авиомоторист,31453002,Авиомоторист,да
8,31553003,Авиотехник,31453003,Авиотехник,да
9,54123008,Автоконтрольор,34503001,Автоконтрольор,да

File 1:8 (0.23817812022131174): <TarInfo 'cc-binaries/136c6594-d14e-41f6-a1fb-2f581b66aa9f' at 0x4aeb41240>  [115, 69, 79, 274, 199, 197]

                  0                                         1
0  Код по НКПД 2011                Наименование  по НКПД 2011
1          31547001                              Авиодиспечер
2          35223025  Авиодиспечер, аеронавигационни съобщения
3          31543002         Авиодиспечер, въздушно обслужване
4          21446048                               Авиоинженер
5          21126001                            Авиометеоролог
6          31553001                               Авиомеханик
7          31553002                              Авиомоторист
8          31553003                                Авиотехник
9          54123008                            Автоконтрольор

File 2:6 (0.23817812022131174): <TarInfo 'cc-binaries/26c8bb06-0e49-4bd1-b447-a3c1ae19a087' at 0x4ae262440>  [115, 69, 79, 274, 199, 197]

             0                                  1
0  Код по НКПД                       Наименование
1     31447001                       Авиодиспечер
2     31443002  Авиодиспечер, въздушно обслужване
3     21496040                        Авиоинженер
4     22217078                          Авиолекар
5     21126001                     Авиометеоролог
6     31453001                        Авиомеханик
7     31453002                       Авиомоторист
8     31453003                         Авиотехник
9     34503001                     Автоконтрольор

File 0:0 (0.11230335926631886): <TarInfo 'cc-binaries/24654c3e-adfe-4688-8caf-55c6e3dbbaea' at 0x154b13c40>  [32, 35, 15, 198, 241, 328]

           0                                1
0  HA number                          HA Name
1      AK901              AK HSG FINANCE CORP
2      AL001  HSG AUTH OF BIRMINGHAM DISTRICT
3      AL002             MOBILE HOUSING BOARD
4      AL005                   HA PHENIX CITY
5      AL007                       DOTHAN H/A
6      AL008                         HA SELMA
7      AL047                    HA HUNTSVILLE
8      AL048                       HA DECATUR
9      AL049               HA GREATER GADSDEN

File 1:0 (0.11230335926631886): <TarInfo 'cc-binaries/0a33662a-fbd3-42de-981d-5646237e87d6' at 0x2fc652b00>  [32, 35, 15, 198, 241, 328]

,0,1,2,3,4
0,HA Num,HA Name,FY 1997 - FY 2009 NED*,NED Category 2,Total NED
1,AK901,AK HSG FINANCE CORP,45,NaN,45
2,AL002,MOBILE HOUSING BOARD,122,NaN,122
3,AL006,H/A CITY OF MONTGOMERY,100,NaN,100
4,AL069,HA LEEDS,1,NaN,1
5,AL086,HA JEFFERSON COUNTY,175,NaN,175
6,AL129,HA WALKER COUNTY,34,NaN,34
7,AR131,JONESBORO URBAN RENEWAL & HSG AUTHORITY,100,NaN,100
8,AR161,CONWAY COUNTY HOUSING AUTH,125,NaN,125
9,AR197,WHITE RIVER REGIONAL HOUSING AUTHORITY,100,NaN,100

File 2:0 (0.11230335926631886): <TarInfo 'cc-binaries/6e58050b-9e39-4f65-a493-eed413fe2970' at 0x4af703940>  [32, 35, 15, 198, 241, 328]

,0,1,2,3,4,5,6
0,HCV FSS household counts from 1/1/10 through 1...,NaN,NaN,NaN,NaN,NaN,NaN
1,HA State,HA Name,Formal HA Name,HA Code,FO Name,FO Code,Number of Households
2,Alabama,Birmingham,Housing Authority of the Birmingham District,AL001,Birmingham Hub Office,4CPH,43
3,Alabama,Mobile,Mobile Housing Board,AL002,Birmingham Hub Office,4CPH,160
4,Alabama,Montgomery,Housing Authority of the City of Montgomery,AL006,Birmingham Hub Office,4CPH,73
5,Alabama,Dothan,Housing Authority of the City of Dothan,AL007,Birmingham Hub Office,4CPH,13
6,Alabama,Selma,Selma Housing Authority,AL008,Birmingham Hub Office,4CPH,17
7,Alabama,Huntsville,The Housing Authority of the City of Huntsville,AL047,Birmingham Hub Office,4CPH,145
8,Alabama,Decatur,Housing Authority of the City of Decatur,AL048,Birmingham Hub Office,4CPH,38
9,Alabama,Florence,Florence H/A,AL054,Birmingham Hub Office,4CPH,28

File 0:0 (0.11053469189262151): <TarInfo 'cc-binaries/24654c3e-adfe-4688-8caf-55c6e3dbbaea' at 0x154b13c40>  [35, 31, 16, 198, 330, 241]

           0                                1
0  HA number                          HA Name
1      AK901              AK HSG FINANCE CORP
2      AL001  HSG AUTH OF BIRMINGHAM DISTRICT
3      AL002             MOBILE HOUSING BOARD
4      AL005                   HA PHENIX CITY
5      AL007                       DOTHAN H/A
6      AL008                         HA SELMA
7      AL047                    HA HUNTSVILLE
8      AL048                       HA DECATUR
9      AL049               HA GREATER GADSDEN

File 1:1 (0.11053469189262151): <TarInfo 'cc-binaries/5e53bda3-153a-49f6-abf7-9cbec7e8198a' at 0x4afa51780>  [35, 31, 16, 198, 330, 241]

,0,1,2,3,4,5,6
0,HCV FSS household counts from 7/1/08 through 6...,NaN,NaN,NaN,NaN,NaN,NaN
1,HA State,HA Code,HA Name,Formal HA Name,FO Code,FO Name,Number of Households
2,Alaska,AK901,AHFC - S8,Alaska Housing Finance Corporation,0APH,Seattle Hub,203
3,Alabama,AL001,Birmingham,Housing Authority of the Birmingham District,4CPH,Birmingham Hub,44
4,Alabama,AL002,Mobile,Mobile Housing Board,4CPH,Birmingham Hub,110
5,Alabama,AL006,Montgomery,Housing Authority of the City of Montgomery,4CPH,Birmingham Hub,38
6,Alabama,AL007,Dothan,Housing Authority of the City of Dothan,4CPH,Birmingham Hub,16
7,Alabama,AL008,Selma,Selma Housing Authority,4CPH,Birmingham Hub,25
8,Alabama,AL047,Huntsville,The Housing Authority of the City of Huntsville,4CPH,Birmingham Hub,103
9,Alabama,AL048,Decatur,Housing Authority of the City of Decatur,4CPH,Birmingham Hub,30

File 2:0 (0.11053469189262151): <TarInfo 'cc-binaries/0a33662a-fbd3-42de-981d-5646237e87d6' at 0x2fc652b00>  [35, 31, 16, 198, 330, 241]

,0,1,2,3,4
0,HA Num,HA Name,FY 1997 - FY 2009 NED*,NED Category 2,Total NED
1,AK901,AK HSG FINANCE CORP,45,NaN,45
2,AL002,MOBILE HOUSING BOARD,122,NaN,122
3,AL006,H/A CITY OF MONTGOMERY,100,NaN,100
4,AL069,HA LEEDS,1,NaN,1
5,AL086,HA JEFFERSON COUNTY,175,NaN,175
6,AL129,HA WALKER COUNTY,34,NaN,34
7,AR131,JONESBORO URBAN RENEWAL & HSG AUTHORITY,100,NaN,100
8,AR161,CONWAY COUNTY HOUSING AUTH,125,NaN,125
9,AR197,WHITE RIVER REGIONAL HOUSING AUTHORITY,100,NaN,100

File 0:0 (0.10894418174998609): <TarInfo 'cc-binaries/24654c3e-adfe-4688-8caf-55c6e3dbbaea' at 0x154b13c40>  [31, 34, 16, 198, 241, 331]

           0                                1
0  HA number                          HA Name
1      AK901              AK HSG FINANCE CORP
2      AL001  HSG AUTH OF BIRMINGHAM DISTRICT
3      AL002             MOBILE HOUSING BOARD
4      AL005                   HA PHENIX CITY
5      AL007                       DOTHAN H/A
6      AL008                         HA SELMA
7      AL047                    HA HUNTSVILLE
8      AL048                       HA DECATUR
9      AL049               HA GREATER GADSDEN

File 1:0 (0.10894418174998609): <TarInfo 'cc-binaries/0a33662a-fbd3-42de-981d-5646237e87d6' at 0x2fc652b00>  [31, 34, 16, 198, 241, 331]

,0,1,2,3,4
0,HA Num,HA Name,FY 1997 - FY 2009 NED*,NED Category 2,Total NED
1,AK901,AK HSG FINANCE CORP,45,NaN,45
2,AL002,MOBILE HOUSING BOARD,122,NaN,122
3,AL006,H/A CITY OF MONTGOMERY,100,NaN,100
4,AL069,HA LEEDS,1,NaN,1
5,AL086,HA JEFFERSON COUNTY,175,NaN,175
6,AL129,HA WALKER COUNTY,34,NaN,34
7,AR131,JONESBORO URBAN RENEWAL & HSG AUTHORITY,100,NaN,100
8,AR161,CONWAY COUNTY HOUSING AUTH,125,NaN,125
9,AR197,WHITE RIVER REGIONAL HOUSING AUTHORITY,100,NaN,100

File 2:0 (0.10894418174998609): <TarInfo 'cc-binaries/9f9da239-bb96-472b-9dca-324a7ba14e45' at 0x15686ae00>  [31, 34, 16, 198, 241, 331]

,0,1,2,3,4,5,6
0,HCV FSS household counts from 7/1/09 through 6...,NaN,NaN,NaN,NaN,NaN,NaN
1,HA State,HA Name,Formal HA Name,HA Code,FO Name,FO Code,Number of Households
2,Alaska,AHFC - S8,Alaska Housing Finance Corporation,AK901,Seattle Hub Office,0APH,1
3,Alabama,Birmingham,Housing Authority of the Birmingham District,AL001,Birmingham Hub Office,4CPH,40
4,Alabama,Mobile,Mobile Housing Board,AL002,Birmingham Hub Office,4CPH,124
5,Alabama,Montgomery,Housing Authority of the City of Montgomery,AL006,Birmingham Hub Office,4CPH,71
6,Alabama,Dothan,Housing Authority of the City of Dothan,AL007,Birmingham Hub Office,4CPH,15
7,Alabama,Selma,Selma Housing Authority,AL008,Birmingham Hub Office,4CPH,21
8,Alabama,Attalla,Housing Authority of the City of Attalla,AL009,Birmingham Hub Office,4CPH,1
9,Alabama,Huntsville,The Housing Authority of the City of Huntsville,AL047,Birmingham Hub Office,4CPH,122

In [160]:
# Import jupyter display function
from IPython.display import display

In [161]:
def display_sheets(frm, to):
    for if1, if2, if3, score, *als in ftripples[frm:to]:
        f1 = (index_name_map[if1])
        f2 = (index_name_map[if2])
        f3 = (index_name_map[if3])
        for i, (f, s) in enumerate([f1, f2, f3]):
            buffer = tar.extractfile(f)
            df = pd.read_excel(io.BytesIO(buffer.read()), sheet_name=s, header=None, index_col=None, nrows=10)
            print(f'File {i}:{s} ({score}): {f}  {als}')
            print()
            # Display as html
            display(df)
            print()

In [163]:
display_sheets(4, 6)

File 0:1 (0.10693342094862127): <TarInfo 'cc-binaries/002f47b7-ac6c-4111-a0d5-f9e8931fafe1' at 0x4ad2c84c0>  [194, 11, 30, 332, 308, 380]

,0,1,2,3
0,"ספריה צבורית ע""ש צ'ייס מבשרת ציון",02-5332648,מבשרת ציון,"רח' החוצבים, מבשרת ציון 90805"
1,תיכון הראל,02-5333466,מבשרת ציון,החוצבים 6 מבשרת ציון
2,ספרית הר אדר,02-5334434,הר אדר,ת.ד. 33 הר אדר 90836
3,טומשין אבו גוש,02-5340296,אבו גוש,רח' השלום אבו גוש
4,חטיבת היובל מבשרת ציון,02-5341455,מבשרת ציון,רח' היסמין 5 מבשרת ציון 90805
5,"בי""ס דקל וילנאי",02-5352408,מעלה אדומים,דרך מדבר יהודה 1 מעלה אדומים ת.ד. 852
6,"עירונית השלום ע""ש בני ציון",02-5357108,מעלה אדומים,דרך מדבר יהודה 6 ת.ד.20 מעלה אדומים 98300
7,הספריה הציבורית גבעת זאב,02-5360140,גבעת זאב,גבעת זאב ת.ד. 902
8,אולפנה צביה ירושלים,02-5380771,ירושלים,רח' ירמיהו 5 ירושלים
9,הועד הישראלי לאונסקו,02-5603746,ירושלים,משרד החינוך ירושלים 91911

File 1:2 (0.10693342094862127): <TarInfo 'cc-binaries/002f47b7-ac6c-4111-a0d5-f9e8931fafe1' at 0x4ad2c84c0>  [194, 11, 30, 332, 308, 380]

,0,1,2,3
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,ישוב,שם ספריה,טלפון,כתובת
4,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN
6,אבו גוש,תיכון טומשין אבו גוש,02-5340296,רח' השלום אבו גוש 90845
7,אלון שבות,אולפנה לבנות נוה-חנה,02-9931262,אלון שבות 90433
8,בית אל,ישיבה תיכונית מטה בנימין,02-9975864,בית אל ד.נ. מזרח בנימין 90631
9,בית שמש,"תיכון ""אמית"" בית שמש",02-991173,רח' עליית הנוער 2 בית שמש 99000

File 2:0 (0.10693342094862127): <TarInfo 'cc-binaries/002f47b7-ac6c-4111-a0d5-f9e8931fafe1' at 0x4ad2c84c0>  [194, 11, 30, 332, 308, 380]

,0,1,2,3
0,רשימת מנויי ספריה ציבורית,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,שם ספריה,טלפון,ישוב,כתובת
3,NaN,NaN,NaN,NaN
4,עירונית נצרת עילית,04-6560363,נצרת עילית,מעלה יצחק 4 נצרת עילית ת.ד. 1144
5,"ציבורית ע""ש אהרון ואלה טיכו",04-6380061,בנימינה,ת.ד. 68 בנימינה פינת נילי 62 30500
6,עירונית - יד שטרית,04-6739577,טבריה,ביאליק 13 ת.ד. 760 טבריה 14221
7,ספריה עירונית מעלות-תרשיחא,04-9979687,מעלות,הארזים 5 מעלות 24952
8,"ספריה ע""ש מאירהוף",08-9457916,רחובות,גולדין 6 רחובות 76107
9,ספריה עירונית ערד,08-9973335,ערד,"א. בן-יאיר 28 בנין המתנ""ס ערד 89021"

File 0:1 (0.1018434332602961): <TarInfo 'cc-binaries/356b42f5-2753-473a-9afe-99f2a96daf82' at 0x151a83f40>  [25, 19, 13, 114, 79, 642]

             0               1            2
0  PlasmoDB ID  Interacts with  PlasmoDB ID
1    PF14_0647              pp    PF13_0036
2     PFI1335w              pp    PF08_0115
3     PFI0875w              pp     PFL0290w
4     PFI0875w              pp     PFI0875w
5     PFI0875w              pp    PF14_0613
6     PFI0875w              pp    PF14_0443
7     PFI0875w              pp    PF14_0197
8     PFI0875w              pp    PF13_0092
9     PFI0875w              pp   MAL13P1.56

File 1:0 (0.1018434332602961): <TarInfo 'cc-binaries/2279d284-bf59-4201-bdc4-571366a9b73d' at 0x4adbf1180>  [25, 19, 13, 114, 79, 642]

,0,1,2,3,4
0,PF11_0168,NaN,NaN,NaN,pp shows interologs predicted interaction wher...
1,PFI0875w,pp,MAL8P1.17,NaN,NaN
2,PFI0875w,pp,MAL8P1.69,NaN,NaN
3,PFI0875w,pp,PF10_0084,NaN,NaN
4,PFI0875w,pp,PF11_0352,NaN,NaN
5,PFI0875w,pp,PF13_0214,NaN,NaN
6,PFI0875w,pp,PF13_0305,NaN,NaN
7,PFI0875w,pp,PFI0875w,NaN,NaN
8,PFI0875w,pp,PFL1070c,NaN,NaN
9,PFI0875w,py,MAL13P1.56,NaN,NaN

File 2:0 (0.1018434332602961): <TarInfo 'cc-binaries/01ca732f-9233-42a0-ae69-0220de397a15' at 0x15103bb80>  [25, 19, 13, 114, 79, 642]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Gaps indicate that data is not available,NaN,NaN,NaN,NaN,NaN,TRANSCRIPT ABUNDANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PROTEIN ABUNDANCE,NaN,NaN,NaN
1,S No.,Family,Chaperone,Accession no.,Ring,Trophozoite,Schizont,Merozoite,Gametocyte,Sporozoite,NaN,Gamete,Gametocyte,Merozoite,Ring,Trophozoite,Schizont,Sporozoite
2,1,Hsp100,Hsp101,PF11_0175,495.6,188.3,217.2,937.5,10.7,104.5,NaN,0,2,22,78,34,6,3
3,2,NaN,Hsl like HSP,PFI0355c,0,13.1,35.7,0,0,0,NaN,0,0,0,0,5,4,1
4,3,NaN,HslV,PFL1465c,20.8,192.5,153.5,0,99.5,16.4,NaN,0,0,1,0,0,0,0
5,4,NaN,Cg4 protein,PF07_0033,547.3,764.5,314.3,133.9,321,78.2,NaN,23,44,168,8,30,8,10
6,5,Hsp90,Hsp86,PF07_0029,1534,2844.8,1583.4,1682.9,645.4,2046.2,NaN,433,61,90,125,303,115,4
7,6,NaN,Grp94,PFL1070c,87.8,244.2,215.8,0,371.1,0,NaN,593,286,182,111,217,97,19
8,7,NaN,Trap1,PF11_0188,131.2,288.7,101,0,633.8,115.2,NaN,0,2,0,0,71,2,0
9,8,NaN,Trap1,PF14_0417,35.7,113.9,99,0,52.8,46.4,NaN,0,0,0,0,1,5,0

In [164]:
display_sheets(6, 8)

File 0:0 (0.09311405452352887): <TarInfo 'cc-binaries/41a69cf9-f028-498f-92f3-b0e3539355ce' at 0x4aed5b1c0>  [54, 19, 16, 244, 85, 549]

,0,1,2
0,Clause Number,Provision/Clause Title and Date,Requirement for Flowdown to Subcontracts
1,52.203-6,Restrictions on Subcontractor Sales to the Gov...,(c) The Contractor agrees to incorporate the s...
2,52.203-7,Anti-Kickback Procedures (Oct 2010),(5) The Contractor agrees to incorporate the s...
3,52.203-12,Limitation on Payments to Influence Certain Fe...,(3) The Contractor shall include the substance...
4,52.203-13,Contractor Code of Business Ethics and Conduct...,(d) Subcontracts. (1) The Contractor shall in...
5,52.203-14,Display of Hotline Poster(s) (Dec 2007),(d) Subcontracts. The Contractor shall include...
6,52.203-15,Whistleblower Protections Under The American R...,(b) The Contractor shall include the substance...
7,52.204-2,Security Requirements (Aug 1996),(d) The Contractor agrees to insert terms that...
8,52.204-9,Personal Identity Verification of Contractor P...,(d) The Contractor shall insert the substance ...
9,52.208-8,Required Sources for Helium and Helium Usage D...,(c) Subcontracts. The Contractor shall insert ...

File 1:1 (0.09311405452352887): <TarInfo 'cc-binaries/41a69cf9-f028-498f-92f3-b0e3539355ce' at 0x4aed5b1c0>  [54, 19, 16, 244, 85, 549]

               0                                                  1
0  CLAUSE NUMBER                    PROVISION/CLAUSE TITLE AND DATE
1       52.203-6  Restrictions on Subcontractor Sales to the Gov...
2       52.203-7                Anti-Kickback Procedures (Jul 1995)
3      52.203-12  Limitation on Payments to Influence Certain Fe...
4      52.203-15  Whistleblower Protections Under The American R...
5       52.204-9  Personal Identity Verification of Contractor P...
6       52.209-6  Protecting the Government’s Interest When Subc...
7      52.219-22     Small Disadvantaged Business Status (Oct 1999)
8      52.219-25  Small Disadvantaged Business Participation Pro...
9       52.222-4  Contract Work Hours and Safety Standards Act—O...

File 2:1 (0.09311405452352887): <TarInfo 'cc-binaries/738229d7-d113-4d7c-bd04-9153eef02ffd' at 0x4ad27aa40>  [54, 19, 16, 244, 85, 549]

,0,1,2,3,4,5,6,7,8,9,10,11
0,"Accept When Applicable ""AWA"" REJECT ...","Required Flow Down ""R""",IN CONTRACT,FAR CLAUSE,PREFERRED \nALTERNATES,CLAUSE TITLE,DATE,PRESCRIBED,REFERENCE,COMMENT,Explanation,Possible Requested Changes to FAR Clauses
1,AWA,NaN,NaN,52.202-01,NaN,Definitions,2004-07-01 00:00:00,2.201 for all contracts over the simplified ac...,NaN,Comments: Actual list of definitions found at...,Standard clause included in most contracts ove...,NaN
2,AWA,NaN,NaN,52.203-03,NaN,Gratuities,1984-04-01 00:00:00,3.202 for all contracts > simplified acquisiti...,NaN,Comments: None,Right of Contractor to proceed may be terminat...,NaN
3,Reject,NaN,NaN,52.203-04,NaN,Reserved,NaN,NaN,University of California C & G Memo 95-12 (10/...,Comment: C & G officer should obtain relevant ...,NaN,NaN
4,AWA,NaN,NaN,52.203-05,NaN,Covenant Against Contingent Fees,1984-04-01 00:00:00,3.404(c) for all contracts exceeding the simpl...,NaN,Comments: None,This is to ensure that the contract is not bei...,NaN
5,AWA,R Required if subcontract > $100K.,NaN,52.203-06,NaN,Restrictions on Subcontractor Sales to the Gov...,2006-09-01 00:00:00,3.503-2 for contracts for supplies or services...,NaN,Comments: May not apply to research but could...,Contractor shall not enter into any agreement ...,NaN
6,AWA,R Required if subcontract > $100K.,NaN,52.203-07,NaN,Anti-Kickback Procedures,1995-07-01 00:00:00,3.502-3 for all contracts over the simplified ...,NaN,"Comments: See also FRS 104, DOD/GSA/NASA (9/8...","Similar to 52.203-5 above, this is to make sur...",NaN
7,AWA,NaN,NaN,52.203-08,NaN,"Cancellation, Recission, and Recovery of Funds...",1997-01-01 00:00:00,3.104-9(a) for all contracts over the simplifi...,NaN,Comments: If found in violation of Fed. Procu...,This makes the contract cancelable if the cont...,NaN
8,AWA,NaN,NaN,52.203-10,NaN,Price or Fee Adjustment for Illegal or Imprope...,1997-01-01 00:00:00,3.104-9(b) for all solicitations and contracts...,NaN,Comments: Clause related to 52.203-08.,By introducing a penalty for illegal or improp...,NaN
9,AWA,R Required if subcontract > $100K.,NaN,52.203-11,NaN,Certification and Disclosure Regarding Payment...,2007-09-01 00:00:00,3.808 (a) in solicitations for contracts over ...,"C&G Memo 87-38 (10/20/87), 95-12 (10/20/95) ht...",Comments: See 52.203-12.,Certifies that no federal funds were used to i...,NaN

File 0:1 (0.08767132261352205): <TarInfo 'cc-binaries/356b42f5-2753-473a-9afe-99f2a96daf82' at 0x151a83f40>  [22, 16, 16, 114, 81, 642]

             0               1            2
0  PlasmoDB ID  Interacts with  PlasmoDB ID
1    PF14_0647              pp    PF13_0036
2     PFI1335w              pp    PF08_0115
3     PFI0875w              pp     PFL0290w
4     PFI0875w              pp     PFI0875w
5     PFI0875w              pp    PF14_0613
6     PFI0875w              pp    PF14_0443
7     PFI0875w              pp    PF14_0197
8     PFI0875w              pp    PF13_0092
9     PFI0875w              pp   MAL13P1.56

File 1:2 (0.08767132261352205): <TarInfo 'cc-binaries/2279d284-bf59-4201-bdc4-571366a9b73d' at 0x4adbf1180>  [22, 16, 16, 114, 81, 642]

,0,1,2,3,4
0,PFI1335w,NaN,NaN,NaN,pp shows interologs predicted interaction wher...
1,PF11_0168,NaN,NaN,NaN,NaN
2,PFI0875w,pp,MAL8P1.17,NaN,NaN
3,PFI0875w,pp,MAL8P1.69,NaN,NaN
4,PFI0875w,pp,PF10_0084,NaN,NaN
5,PFI0875w,pp,PF11_0352,NaN,NaN
6,PFI0875w,pp,PF13_0214,NaN,NaN
7,PFI0875w,pp,PF13_0305,NaN,NaN
8,PFI0875w,pp,PF14_0359,NaN,NaN
9,PFI0875w,pp,PFI0875w,NaN,NaN

File 2:0 (0.08767132261352205): <TarInfo 'cc-binaries/01ca732f-9233-42a0-ae69-0220de397a15' at 0x15103bb80>  [22, 16, 16, 114, 81, 642]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Gaps indicate that data is not available,NaN,NaN,NaN,NaN,NaN,TRANSCRIPT ABUNDANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PROTEIN ABUNDANCE,NaN,NaN,NaN
1,S No.,Family,Chaperone,Accession no.,Ring,Trophozoite,Schizont,Merozoite,Gametocyte,Sporozoite,NaN,Gamete,Gametocyte,Merozoite,Ring,Trophozoite,Schizont,Sporozoite
2,1,Hsp100,Hsp101,PF11_0175,495.6,188.3,217.2,937.5,10.7,104.5,NaN,0,2,22,78,34,6,3
3,2,NaN,Hsl like HSP,PFI0355c,0,13.1,35.7,0,0,0,NaN,0,0,0,0,5,4,1
4,3,NaN,HslV,PFL1465c,20.8,192.5,153.5,0,99.5,16.4,NaN,0,0,1,0,0,0,0
5,4,NaN,Cg4 protein,PF07_0033,547.3,764.5,314.3,133.9,321,78.2,NaN,23,44,168,8,30,8,10
6,5,Hsp90,Hsp86,PF07_0029,1534,2844.8,1583.4,1682.9,645.4,2046.2,NaN,433,61,90,125,303,115,4
7,6,NaN,Grp94,PFL1070c,87.8,244.2,215.8,0,371.1,0,NaN,593,286,182,111,217,97,19
8,7,NaN,Trap1,PF11_0188,131.2,288.7,101,0,633.8,115.2,NaN,0,2,0,0,71,2,0
9,8,NaN,Trap1,PF14_0417,35.7,113.9,99,0,52.8,46.4,NaN,0,0,0,0,1,5,0

In [165]:
display_sheets(8, 10)

File 0:0 (0.08717797887081347): <TarInfo 'cc-binaries/31422b65-0d8f-485e-b089-48d6ec6f793f' at 0x2fc595480>  [76, 4, 4, 100, 100, 103]

                                                   0
0  CCAD OFFICIAL PROCEDURES THAT ARE NOT CONSIDER...
1                100811. Postpericardiotomy syndrome
2                          100813. Cardiac tamponade
3  110412. Junctional ectopic tachycardia (His bu...
4           110617. Postprocedural complete AV block
5  110632. Procedure related complete AV block re...
6  110633. Procedure related complete AV block re...
7  120091. Cardiopulmonary bypass not used during...
8  120092. Cardiopulmonary bypass for non-cardiac...
9                                  121731. Aortopexy

File 1:0 (0.08717797887081347): <TarInfo 'cc-binaries/028846fc-37cd-4b5a-afb0-640276ef59f1' at 0x4ae088640>  [76, 4, 4, 100, 100, 103]

                                                   0
0  CCAD OFFICIAL PROCEDURES THAT ARE NOT CONSIDER...
1     128721. Ventricular assist device implantation
2  128722. Right ventricular assist device implan...
3  128723. Left ventricular assist device implant...
4   128724. Biventricular assist device implantation
5          128741. Ventricular assist device removal
6  128725. Cardiac support using Extracorporeal M...
7  128745. Take down of Extracorporeal Membrane O...
8  155702. Extracorporeal Membrane Oxygenation (E...
9     155703. Ventricular assist device complication

File 2:3 (0.08717797887081347): <TarInfo 'cc-binaries/028846fc-37cd-4b5a-afb0-640276ef59f1' at 0x4ae088640>  [76, 4, 4, 100, 100, 103]

,0,1
0,RECOGNISED CCAD OFFICIAL PROCEDURES,Cardiac Procedure
1,100811. Postpericardiotomy syndrome,Not a cardiac procedure
2,100813. Cardiac tamponade,Not a cardiac procedure
3,110412. Junctional ectopic tachycardia (His bu...,Not a cardiac procedure
4,110617. Postprocedural complete AV block,Not a cardiac procedure
5,110632. Procedure related complete AV block re...,Not a cardiac procedure
6,110633. Procedure related complete AV block re...,Not a cardiac procedure
7,120000. Totally anomalous pulmonary venous con...,Allowed as cardiac procedure
8,120002. Partially anomalous pulmonary venous c...,Allowed as cardiac procedure
9,120003. Pulmonary vein stenosis repair,Allowed as cardiac procedure

File 0:0 (0.08717797887081347): <TarInfo 'cc-binaries/31422b65-0d8f-485e-b089-48d6ec6f793f' at 0x2fc595480>  [76, 4, 4, 100, 100, 103]

                                                   0
0  CCAD OFFICIAL PROCEDURES THAT ARE NOT CONSIDER...
1                100811. Postpericardiotomy syndrome
2                          100813. Cardiac tamponade
3  110412. Junctional ectopic tachycardia (His bu...
4           110617. Postprocedural complete AV block
5  110632. Procedure related complete AV block re...
6  110633. Procedure related complete AV block re...
7  120091. Cardiopulmonary bypass not used during...
8  120092. Cardiopulmonary bypass for non-cardiac...
9                                  121731. Aortopexy

File 1:0 (0.08717797887081347): <TarInfo 'cc-binaries/028846fc-37cd-4b5a-afb0-640276ef59f1' at 0x4ae088640>  [76, 4, 4, 100, 100, 103]

                                                   0
0  CCAD OFFICIAL PROCEDURES THAT ARE NOT CONSIDER...
1     128721. Ventricular assist device implantation
2  128722. Right ventricular assist device implan...
3  128723. Left ventricular assist device implant...
4   128724. Biventricular assist device implantation
5          128741. Ventricular assist device removal
6  128725. Cardiac support using Extracorporeal M...
7  128745. Take down of Extracorporeal Membrane O...
8  155702. Extracorporeal Membrane Oxygenation (E...
9     155703. Ventricular assist device complication

File 2:3 (0.08717797887081347): <TarInfo 'cc-binaries/31422b65-0d8f-485e-b089-48d6ec6f793f' at 0x2fc595480>  [76, 4, 4, 100, 100, 103]

,0,1
0,RECOGNISED CCAD OFFICIAL PROCEDURES,Cardiac Procedure
1,100811. Postpericardiotomy syndrome,Not a cardiac procedure
2,100813. Cardiac tamponade,Not a cardiac procedure
3,110412. Junctional ectopic tachycardia (His bu...,Not a cardiac procedure
4,110617. Postprocedural complete AV block,Not a cardiac procedure
5,110632. Procedure related complete AV block re...,Not a cardiac procedure
6,110633. Procedure related complete AV block re...,Not a cardiac procedure
7,120000. Totally anomalous pulmonary venous con...,Allowed as cardiac procedure
8,120002. Partially anomalous pulmonary venous c...,Allowed as cardiac procedure
9,120003. Pulmonary vein stenosis repair,Allowed as cardiac procedure

In [166]:
display_sheets(10, 12)

File 0:0 (0.08620961462191362): <TarInfo 'cc-binaries/24654c3e-adfe-4688-8caf-55c6e3dbbaea' at 0x154b13c40>  [44, 15, 3, 198, 241, 115]

           0                                1
0  HA number                          HA Name
1      AK901              AK HSG FINANCE CORP
2      AL001  HSG AUTH OF BIRMINGHAM DISTRICT
3      AL002             MOBILE HOUSING BOARD
4      AL005                   HA PHENIX CITY
5      AL007                       DOTHAN H/A
6      AL008                         HA SELMA
7      AL047                    HA HUNTSVILLE
8      AL048                       HA DECATUR
9      AL049               HA GREATER GADSDEN

File 1:0 (0.08620961462191362): <TarInfo 'cc-binaries/0a33662a-fbd3-42de-981d-5646237e87d6' at 0x2fc652b00>  [44, 15, 3, 198, 241, 115]

,0,1,2,3,4
0,HA Num,HA Name,FY 1997 - FY 2009 NED*,NED Category 2,Total NED
1,AK901,AK HSG FINANCE CORP,45,NaN,45
2,AL002,MOBILE HOUSING BOARD,122,NaN,122
3,AL006,H/A CITY OF MONTGOMERY,100,NaN,100
4,AL069,HA LEEDS,1,NaN,1
5,AL086,HA JEFFERSON COUNTY,175,NaN,175
6,AL129,HA WALKER COUNTY,34,NaN,34
7,AR131,JONESBORO URBAN RENEWAL & HSG AUTHORITY,100,NaN,100
8,AR161,CONWAY COUNTY HOUSING AUTH,125,NaN,125
9,AR197,WHITE RIVER REGIONAL HOUSING AUTHORITY,100,NaN,100

File 2:0 (0.08620961462191362): <TarInfo 'cc-binaries/ddd61b03-bc2b-4fd9-b6d2-a36830435ede' at 0x1521ce080>  [44, 15, 3, 198, 241, 115]

,0,1,2,3,4,5,6
0,PHA To Be Assessed For Transition Year 2,NaN,NaN,NaN,NaN,NaN,NaN
1,PHA Code,FYE,Physical,Financial,Management,Resident,PHAS
2,AL001,2009-06-30 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
3,AL002,2009-12-31 00:00:00,Yes,Yes,No-Waiver,Yes prior year score,Yes
4,AL004,2010-03-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
5,AL005,2009-09-30 00:00:00,No-PPI,Yes,Yes,Yes prior year score,Yes
6,AL006,2010-03-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
7,AL007,2009-12-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
8,AL008,2009-12-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
9,AL009,2009-12-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes

File 0:0 (0.08620961462191362): <TarInfo 'cc-binaries/24654c3e-adfe-4688-8caf-55c6e3dbbaea' at 0x154b13c40>  [44, 15, 3, 198, 241, 115]

           0                                1
0  HA number                          HA Name
1      AK901              AK HSG FINANCE CORP
2      AL001  HSG AUTH OF BIRMINGHAM DISTRICT
3      AL002             MOBILE HOUSING BOARD
4      AL005                   HA PHENIX CITY
5      AL007                       DOTHAN H/A
6      AL008                         HA SELMA
7      AL047                    HA HUNTSVILLE
8      AL048                       HA DECATUR
9      AL049               HA GREATER GADSDEN

File 1:0 (0.08620961462191362): <TarInfo 'cc-binaries/0a33662a-fbd3-42de-981d-5646237e87d6' at 0x2fc652b00>  [44, 15, 3, 198, 241, 115]

,0,1,2,3,4
0,HA Num,HA Name,FY 1997 - FY 2009 NED*,NED Category 2,Total NED
1,AK901,AK HSG FINANCE CORP,45,NaN,45
2,AL002,MOBILE HOUSING BOARD,122,NaN,122
3,AL006,H/A CITY OF MONTGOMERY,100,NaN,100
4,AL069,HA LEEDS,1,NaN,1
5,AL086,HA JEFFERSON COUNTY,175,NaN,175
6,AL129,HA WALKER COUNTY,34,NaN,34
7,AR131,JONESBORO URBAN RENEWAL & HSG AUTHORITY,100,NaN,100
8,AR161,CONWAY COUNTY HOUSING AUTH,125,NaN,125
9,AR197,WHITE RIVER REGIONAL HOUSING AUTHORITY,100,NaN,100

File 2:0 (0.08620961462191362): <TarInfo 'cc-binaries/85671db6-c0bc-448d-83b4-2e4eef63e523' at 0x15100bb80>  [44, 15, 3, 198, 241, 115]

,0,1,2,3,4,5,6
0,PHA To Be Assessed For Transition Year 2,NaN,NaN,NaN,NaN,NaN,NaN
1,PHA Code,FYE,Physical,Financial,Management,Resident,PHAS
2,AL001,2009-06-30 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
3,AL002,2009-12-31 00:00:00,Yes,Yes,No-Waiver,Yes prior year score,Yes
4,AL004,2010-03-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
5,AL005,2009-09-30 00:00:00,No-PPI,Yes,Yes,Yes prior year score,Yes
6,AL006,2010-03-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
7,AL007,2009-12-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
8,AL008,2009-12-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes
9,AL009,2009-12-31 00:00:00,Yes,Yes,Yes,Yes prior year score,Yes

In [167]:
display_sheets(12, 14)

File 0:0 (0.08233452447238455): <TarInfo 'cc-binaries/24654c3e-adfe-4688-8caf-55c6e3dbbaea' at 0x154b13c40>  [43, 14, 4, 198, 241, 363]

           0                                1
0  HA number                          HA Name
1      AK901              AK HSG FINANCE CORP
2      AL001  HSG AUTH OF BIRMINGHAM DISTRICT
3      AL002             MOBILE HOUSING BOARD
4      AL005                   HA PHENIX CITY
5      AL007                       DOTHAN H/A
6      AL008                         HA SELMA
7      AL047                    HA HUNTSVILLE
8      AL048                       HA DECATUR
9      AL049               HA GREATER GADSDEN

File 1:0 (0.08233452447238455): <TarInfo 'cc-binaries/0a33662a-fbd3-42de-981d-5646237e87d6' at 0x2fc652b00>  [43, 14, 4, 198, 241, 363]

,0,1,2,3,4
0,HA Num,HA Name,FY 1997 - FY 2009 NED*,NED Category 2,Total NED
1,AK901,AK HSG FINANCE CORP,45,NaN,45
2,AL002,MOBILE HOUSING BOARD,122,NaN,122
3,AL006,H/A CITY OF MONTGOMERY,100,NaN,100
4,AL069,HA LEEDS,1,NaN,1
5,AL086,HA JEFFERSON COUNTY,175,NaN,175
6,AL129,HA WALKER COUNTY,34,NaN,34
7,AR131,JONESBORO URBAN RENEWAL & HSG AUTHORITY,100,NaN,100
8,AR161,CONWAY COUNTY HOUSING AUTH,125,NaN,125
9,AR197,WHITE RIVER REGIONAL HOUSING AUTHORITY,100,NaN,100

File 2:0 (0.08233452447238455): <TarInfo 'cc-binaries/71602915-fea8-4edc-89c8-157ecb1927c7' at 0x1540f6380>  [43, 14, 4, 198, 241, 363]

,0,1,2,3,4,5
0,State,HA Code,HA Name,Amount Granted,Grant Number,Funding Category
1,AK,AK001,Alaska Housing Finance Corporation,3306953,AK06S00150109,Recovery Act Formula Grant
2,AL,AL001,Housing Authority of the Birmingham District,13997490,AL09S00150109,Recovery Act Formula Grant
3,AL,AL002,Mobile Housing Board,9049456,AL09S00250109,Recovery Act Formula Grant
4,AL,AL004,HA Anniston,1512258,AL09S00450109,Recovery Act Formula Grant
5,AL,AL005,Phenix City Housing Authority,1815425,AL09S00550109,Recovery Act Formula Grant
6,AL,AL006,Housing Authority of the City of Montgomery,5938353,AL09S00650109,Recovery Act Formula Grant
7,AL,AL007,Housing Authority of the City of Dothan,1357501,AL09S00750109,Recovery Act Formula Grant
8,AL,AL008,Selma Housing Authority,1215341,AL09S00850109,Recovery Act Formula Grant
9,AL,AL009,Housing Authority of the City of Attalla,237393,AL09S00950109,Recovery Act Formula Grant

File 0:2 (0.082105801434073): <TarInfo 'cc-binaries/356b42f5-2753-473a-9afe-99f2a96daf82' at 0x151a83f40>  [8, 27, 9, 79, 642, 82]

             0               1            2
0  PlasmoDB ID  Interacts with  PlasmoDB ID
1     PFL0740c              pp     PFL0740c
2     PFL0740c              pp    PF13_0305
3     PFI0875w              pp     PFL1070c
4     PFI0875w              pp     PFI0875w
5     PFI0875w              pp     PFB0875c
6     PFI0875w              pp    PF14_0359
7     PFI0875w              pp    PF14_0136
8     PFI0875w              pp    PF13_0305
9     PFI0875w              pp    PF13_0214

File 1:0 (0.082105801434073): <TarInfo 'cc-binaries/01ca732f-9233-42a0-ae69-0220de397a15' at 0x15103bb80>  [8, 27, 9, 79, 642, 82]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Gaps indicate that data is not available,NaN,NaN,NaN,NaN,NaN,TRANSCRIPT ABUNDANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PROTEIN ABUNDANCE,NaN,NaN,NaN
1,S No.,Family,Chaperone,Accession no.,Ring,Trophozoite,Schizont,Merozoite,Gametocyte,Sporozoite,NaN,Gamete,Gametocyte,Merozoite,Ring,Trophozoite,Schizont,Sporozoite
2,1,Hsp100,Hsp101,PF11_0175,495.6,188.3,217.2,937.5,10.7,104.5,NaN,0,2,22,78,34,6,3
3,2,NaN,Hsl like HSP,PFI0355c,0,13.1,35.7,0,0,0,NaN,0,0,0,0,5,4,1
4,3,NaN,HslV,PFL1465c,20.8,192.5,153.5,0,99.5,16.4,NaN,0,0,1,0,0,0,0
5,4,NaN,Cg4 protein,PF07_0033,547.3,764.5,314.3,133.9,321,78.2,NaN,23,44,168,8,30,8,10
6,5,Hsp90,Hsp86,PF07_0029,1534,2844.8,1583.4,1682.9,645.4,2046.2,NaN,433,61,90,125,303,115,4
7,6,NaN,Grp94,PFL1070c,87.8,244.2,215.8,0,371.1,0,NaN,593,286,182,111,217,97,19
8,7,NaN,Trap1,PF11_0188,131.2,288.7,101,0,633.8,115.2,NaN,0,2,0,0,71,2,0
9,8,NaN,Trap1,PF14_0417,35.7,113.9,99,0,52.8,46.4,NaN,0,0,0,0,1,5,0

File 2:4 (0.082105801434073): <TarInfo 'cc-binaries/2279d284-bf59-4201-bdc4-571366a9b73d' at 0x4adbf1180>  [8, 27, 9, 79, 642, 82]

,0,1,2,3,4
0,PF11_0168,NaN,NaN,NaN,pp shows interologs predicted interaction wher...
1,PFI0875w,pp,MAL8P1.17,NaN,NaN
2,PFI0875w,pp,MAL8P1.69,NaN,NaN
3,PFI0875w,pp,PF10_0084,NaN,NaN
4,PFI0875w,pp,PF11_0352,NaN,NaN
5,PFI0875w,pp,PF13_0214,NaN,NaN
6,PFI0875w,pp,PF13_0305,NaN,NaN
7,PFI0875w,pp,PF14_0359,NaN,NaN
8,PFI0875w,pp,PFI0875w,NaN,NaN
9,PFI0875w,pp,PFL1070c,NaN,NaN

In [168]:
display_sheets(14, 16)

File 0:1 (0.08051083442514924): <TarInfo 'cc-binaries/103eb5ae-e58f-4648-9d0c-175b31aed57c' at 0x4adfaf040>  [26, 9, 0, 90, 92, 2930]

,0,1,2
0,Node1,Interaction,Node2
1,antisense-pn6/bta-mir-296_17_61587159_61587236...,miRNA-T,pig75243
2,antisense-pn6/bta-mir-296_17_61587159_61587236...,miRNA-T,pig78386;pig78387
3,antisense-pn6/bta-mir-296_17_61587159_61587236...,miRNA-T,pig66941
4,antisense-pn6/bta-mir-296_17_61587159_61587236...,miRNA-T,pig53696
5,antisense-pn6/bta-mir-296_17_61587159_61587236...,miRNA-T,pig46495
6,antisense-pn6/bta-mir-296_17_61587159_61587236...,miRNA-T,pig33460;pig33461
7,antisense-pn6/bta-mir-296_17_61587159_61587236...,miRNA-T,pig21899;pig21900
8,antisense-pn6/bta-mir-296_17_61587159_61587236...,miRNA-T,pig14832;pig14833
9,antisense-ssc-mir-128_15_14550874_14550955_-_NA,miRNA-T,pig75243

File 1:0 (0.08051083442514924): <TarInfo 'cc-binaries/103eb5ae-e58f-4648-9d0c-175b31aed57c' at 0x4adfaf040>  [26, 9, 0, 90, 92, 2930]

                                                   0
0  antisense-pn6/bta-mir-296_17_61587159_61587236...
1    antisense-ssc-mir-128_15_14550874_14550955_-_NA
2  antisense-ssc-mir-142-3p_12_32630389_32630497_...
3   antisense-ssc-mir-205_9_126011588_126011656_+_NA
4    antisense-ssc-mir-24a_10_26148231_26148306_-_NA
5     antisense-ssc-mir-24a_2_56860821_56860892_-_NA
6  antisense-ssc-mir-29b-2_18_16054349_16054429_-_NA
7    antisense-ssc-mir-451_12_42820761_42820832_-_NA
8               bta-mir-769_6_36259082_36259201_-_3p
9             cfa-mir-138a_13_23336889_23336951_+_3p

File 2:1 (0.08051083442514924): <TarInfo 'cc-binaries/0512a52f-f7f1-4c3e-b941-8e247426895f' at 0x153fcca00>  [26, 9, 0, 90, 92, 2930]

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,Original row,Name,exSYMBOL,Primary_id,UniGene,ENSEMBL,entrez,symbol,Descr,CHR_LOCATION,...,Inferior.vena.cava_1.cexp,Inferior.vena.cava_2.cexp,Pulmunary.artery_1.cexp,Pulmunary.artery_2.cexp,Superior.vena.cava_1.cexp,Superior.vena.cava_2.cexp,atrium_left2.exp,atrium_left3.exp,ventr_left1.exp,ventr_left2.exp
1,13994,pig31721;pig31722,APP,ENSSSCT00000013154|ENSSSCT00000013153,Ssc.14258,ENSSSCG00000012022,397663,APP,Amyloid beta A4 protein Precursor (Alzheimer d...,chrNA:-1--1,...,12.645014,12.812303,13.391748,14.196669,13.419508,12.933218,12.700177,12.013711,11.734255,12.918122
2,4965,pig14913;pig14914,ABHD1;Abhd1,ENSSSCT00000009359,Ssc.49620,ENSSSCG00000008554,NaN,ABHD1,"Transcribed locus, moderately similar to NP_00...",chrNA:-1--1,...,11.0906,11.184295,11.643416,10.987415,11.247772,11.222663,NaN,10.578562,NaN,10.979747
3,15145,pig44155;pig44156,ABL1,Ssc#S19539485,Ssc.11200,NaN,NaN,ABL1,"Transcribed locus, strongly similar to NP_0051...",chrNA:-1--1,...,11.974953,11.953164,13.819452,12.977441,12.279629,12.10677,10.825118,10.896379,10.784992,12.121964
4,13609,pig12869;pig12870,ACTB;Actb,ENSSSCT00000008324|ENSSSCT00000008325,Ssc.53735|Ssc.74419,ENSSSCG00000007585,414396,ACTB,"Actin, cytoplasmic 1 (Beta-actin) [Contains Ac...",chrNA:-1--1,...,12.365567,12.299544,14.320579,14.771033,13.557493,13.766536,12.038973,11.687704,10.757578,10.849953
5,8373,pig25459;pig25460,ACTN1;Actn1,ENSSSCT00000002561,Ssc.5941,ENSSSCG00000002300,NaN,ACTN1,"Transcribed locus, strongly similar to NP_5989...",chrNA:-1--1,...,13.587034,13.570251,15.844253,15.482482,14.555979,14.653036,11.436594,11.233653,11.935851,12.692659
6,15612,pig47051;pig47052,AG2,Ssc#S35173788,Ssc.17312,NaN,NaN,AG2,"Transcribed locus, strongly similar to NP_0011...",chrNA:-1--1,...,12.296106,12.228143,15.560209,15.393498,13.412354,13.763752,10.921646,11.17779,11.105884,11.138492
7,925,pig01388;pig01389,AOC2,ENSSSCT00000018923,NaN,ENSSSCG00000017384,NaN,AOC2,Retina-specific copper amine oxidase Precursor...,chrNA:-1--1,...,NaN,10.816894,11.642611,10.782271,11.139463,11.03659,10.736343,NaN,11.095055,11.372317
8,14476,pig39768,AP3D1,Ssc#S38675441,Ssc.3398,NaN,100049700,AP3D1,"Adaptor-related protein complex 3, delta 1 sub...",chrNA:-1--1,...,12.381178,12.373416,12.838844,12.555689,12.566934,12.684718,NaN,10.742162,10.811907,12.410985
9,16562,pig53696,AQP1,Ssc#S35171789,Ssc.27596,NaN,407773,AQP1,Aquaporin 1,chrNA:-1--1,...,12.107941,12.068028,14.096788,13.798141,12.57634,12.215025,11.335377,11.310456,NaN,11.146381

File 0:1 (0.08039556324338903): <TarInfo 'cc-binaries/356b42f5-2753-473a-9afe-99f2a96daf82' at 0x151a83f40>  [37, 8, 1, 114, 79, 268]

             0               1            2
0  PlasmoDB ID  Interacts with  PlasmoDB ID
1    PF14_0647              pp    PF13_0036
2     PFI1335w              pp    PF08_0115
3     PFI0875w              pp     PFL0290w
4     PFI0875w              pp     PFI0875w
5     PFI0875w              pp    PF14_0613
6     PFI0875w              pp    PF14_0443
7     PFI0875w              pp    PF14_0197
8     PFI0875w              pp    PF13_0092
9     PFI0875w              pp   MAL13P1.56

File 1:0 (0.08039556324338903): <TarInfo 'cc-binaries/2279d284-bf59-4201-bdc4-571366a9b73d' at 0x4adbf1180>  [37, 8, 1, 114, 79, 268]

,0,1,2,3,4
0,PF11_0168,NaN,NaN,NaN,pp shows interologs predicted interaction wher...
1,PFI0875w,pp,MAL8P1.17,NaN,NaN
2,PFI0875w,pp,MAL8P1.69,NaN,NaN
3,PFI0875w,pp,PF10_0084,NaN,NaN
4,PFI0875w,pp,PF11_0352,NaN,NaN
5,PFI0875w,pp,PF13_0214,NaN,NaN
6,PFI0875w,pp,PF13_0305,NaN,NaN
7,PFI0875w,pp,PFI0875w,NaN,NaN
8,PFI0875w,pp,PFL1070c,NaN,NaN
9,PFI0875w,py,MAL13P1.56,NaN,NaN

File 2:0 (0.08039556324338903): <TarInfo 'cc-binaries/0d3b45d3-57a0-4427-974a-fa58fa8ac214' at 0x151599180>  [37, 8, 1, 114, 79, 268]

                     0                                        1      2       3
0          PlasmoDB ID                       Annotated function   MaxS  Mean S
1  chr13_2000027.gen_4                                      NaN  0.936   0.479
2    chr7_000020.gen_1                                      NaN  0.926   0.479
3          MAL13P1.173                        MSP7-like protein  0.982   0.854
4          MAL13P1.174                        MSP7-like protein  0.962   0.836
5          MAL13P1.186  1-deoxy-D-xylulose 5-phosphate synthase  0.983    0.72
6          MAL13P1.326                 ferrochelatase, putative  0.818   0.174
7           MAL13P1.95                               ferredoxin  0.955   0.774
8            MAL6P1.11                                      NaN  0.973   0.731
9           MAL7P1.229     Cytoadherence linked asexual protein   0.99   0.908

In [169]:
display_sheets(16, 18)

File 0:1 (0.0735888586356244): <TarInfo 'cc-binaries/356b42f5-2753-473a-9afe-99f2a96daf82' at 0x151a83f40>  [31, 8, 1, 114, 642, 268]

             0               1            2
0  PlasmoDB ID  Interacts with  PlasmoDB ID
1    PF14_0647              pp    PF13_0036
2     PFI1335w              pp    PF08_0115
3     PFI0875w              pp     PFL0290w
4     PFI0875w              pp     PFI0875w
5     PFI0875w              pp    PF14_0613
6     PFI0875w              pp    PF14_0443
7     PFI0875w              pp    PF14_0197
8     PFI0875w              pp    PF13_0092
9     PFI0875w              pp   MAL13P1.56

File 1:0 (0.0735888586356244): <TarInfo 'cc-binaries/01ca732f-9233-42a0-ae69-0220de397a15' at 0x15103bb80>  [31, 8, 1, 114, 642, 268]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Gaps indicate that data is not available,NaN,NaN,NaN,NaN,NaN,TRANSCRIPT ABUNDANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PROTEIN ABUNDANCE,NaN,NaN,NaN
1,S No.,Family,Chaperone,Accession no.,Ring,Trophozoite,Schizont,Merozoite,Gametocyte,Sporozoite,NaN,Gamete,Gametocyte,Merozoite,Ring,Trophozoite,Schizont,Sporozoite
2,1,Hsp100,Hsp101,PF11_0175,495.6,188.3,217.2,937.5,10.7,104.5,NaN,0,2,22,78,34,6,3
3,2,NaN,Hsl like HSP,PFI0355c,0,13.1,35.7,0,0,0,NaN,0,0,0,0,5,4,1
4,3,NaN,HslV,PFL1465c,20.8,192.5,153.5,0,99.5,16.4,NaN,0,0,1,0,0,0,0
5,4,NaN,Cg4 protein,PF07_0033,547.3,764.5,314.3,133.9,321,78.2,NaN,23,44,168,8,30,8,10
6,5,Hsp90,Hsp86,PF07_0029,1534,2844.8,1583.4,1682.9,645.4,2046.2,NaN,433,61,90,125,303,115,4
7,6,NaN,Grp94,PFL1070c,87.8,244.2,215.8,0,371.1,0,NaN,593,286,182,111,217,97,19
8,7,NaN,Trap1,PF11_0188,131.2,288.7,101,0,633.8,115.2,NaN,0,2,0,0,71,2,0
9,8,NaN,Trap1,PF14_0417,35.7,113.9,99,0,52.8,46.4,NaN,0,0,0,0,1,5,0

File 2:0 (0.0735888586356244): <TarInfo 'cc-binaries/0d3b45d3-57a0-4427-974a-fa58fa8ac214' at 0x151599180>  [31, 8, 1, 114, 642, 268]

                     0                                        1      2       3
0          PlasmoDB ID                       Annotated function   MaxS  Mean S
1  chr13_2000027.gen_4                                      NaN  0.936   0.479
2    chr7_000020.gen_1                                      NaN  0.926   0.479
3          MAL13P1.173                        MSP7-like protein  0.982   0.854
4          MAL13P1.174                        MSP7-like protein  0.962   0.836
5          MAL13P1.186  1-deoxy-D-xylulose 5-phosphate synthase  0.983    0.72
6          MAL13P1.326                 ferrochelatase, putative  0.818   0.174
7           MAL13P1.95                               ferredoxin  0.955   0.774
8            MAL6P1.11                                      NaN  0.973   0.731
9           MAL7P1.229     Cytoadherence linked asexual protein   0.99   0.908

File 0:0 (0.07298175560715285): <TarInfo 'cc-binaries/24654c3e-adfe-4688-8caf-55c6e3dbbaea' at 0x154b13c40>  [43, 11, 7, 198, 331, 179]

           0                                1
0  HA number                          HA Name
1      AK901              AK HSG FINANCE CORP
2      AL001  HSG AUTH OF BIRMINGHAM DISTRICT
3      AL002             MOBILE HOUSING BOARD
4      AL005                   HA PHENIX CITY
5      AL007                       DOTHAN H/A
6      AL008                         HA SELMA
7      AL047                    HA HUNTSVILLE
8      AL048                       HA DECATUR
9      AL049               HA GREATER GADSDEN

File 1:0 (0.07298175560715285): <TarInfo 'cc-binaries/9f9da239-bb96-472b-9dca-324a7ba14e45' at 0x15686ae00>  [43, 11, 7, 198, 331, 179]

,0,1,2,3,4,5,6
0,HCV FSS household counts from 7/1/09 through 6...,NaN,NaN,NaN,NaN,NaN,NaN
1,HA State,HA Name,Formal HA Name,HA Code,FO Name,FO Code,Number of Households
2,Alaska,AHFC - S8,Alaska Housing Finance Corporation,AK901,Seattle Hub Office,0APH,1
3,Alabama,Birmingham,Housing Authority of the Birmingham District,AL001,Birmingham Hub Office,4CPH,40
4,Alabama,Mobile,Mobile Housing Board,AL002,Birmingham Hub Office,4CPH,124
5,Alabama,Montgomery,Housing Authority of the City of Montgomery,AL006,Birmingham Hub Office,4CPH,71
6,Alabama,Dothan,Housing Authority of the City of Dothan,AL007,Birmingham Hub Office,4CPH,15
7,Alabama,Selma,Selma Housing Authority,AL008,Birmingham Hub Office,4CPH,21
8,Alabama,Attalla,Housing Authority of the City of Attalla,AL009,Birmingham Hub Office,4CPH,1
9,Alabama,Huntsville,The Housing Authority of the City of Huntsville,AL047,Birmingham Hub Office,4CPH,122

File 2:0 (0.07298175560715285): <TarInfo 'cc-binaries/3b623ee8-79a5-4e45-a28a-6f544d3df1f8' at 0x4adb37580>  [43, 11, 7, 198, 331, 179]

       0                                             1
0  CA_ID                                       CA_Name
1  AK800            Alaska Housing Finance Corporation
2  AL001  HOUSING AUTHORITY OF THE BIRMINGHAM DISTRICT
3  AL002                          MOBILE HOUSING BOARD
4  AL006          HOUSING AUTHORITY CITY OF MONTGOMERY
5  AL049             GREATER GADSDEN HOUSING AUTHORITY
6  AL075         THE H.A. OF THE CITY OF BOAZ, ALABAMA
7  AL077        TUSCALOOSA HOUSING AUTHORITY SEC. 8 NC
8  AL115                  Enterprise Housing Authority
9  AL169     HOUSING AUTHORITY OF THE CITY OF PRICHARD

# Ideas
Looks like we are getting relevant results now.

But much repetition.
So should consider clustering the results.
Maybe by building a graph and looking at components.